<%- include('header'); %>
    <form action="/login" method="post">
        <p>メールアドレス</p>
        <input type="text" name="email">
        <p>パスワード</p>
        <input type="password" name="password">
        <input type="submit" value="ログイン">
    </form>